.jumbotron {
  background-color: #6666AA;
  color: white;
  margin-top: 40px;
}
footer {
  /*padding: 10px 0px 0px 10px;*/
  padding: 10px 0px 0px 10px;
  background-color: #6666AA;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white;
}
footer a {
  color: white;
  text-decoration: underline;
}
.card-super {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.icon-padding-right {
  /*padding-right: 10px;*/
  padding: 0px 10px 0px 0px;
}
