$colorEmpresa: #6666AA;
$amarollo: #fff759;
$rojo: #9e2121;
$verde: #219e49;

@mixin padingDef($top, $right, $buttom, $left){
	padding: $top $right $buttom $left;
}

@mixin marginDef($top, $right, $buttom, $left){
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $buttom;
	margin-left: $left;
}

@mixin BoxColor($border, $background){
	border-color: $border;
	background-color: $background;
}

.jumbotron {
	background-color: $colorEmpresa;
	color: white;
	margin-top: 40px;
}

footer {
	/*padding: 10px 0px 0px 10px;*/
	@include padingDef(10px, 0px, 0px, 10px);
	/*background-color: $colorEmpresa;*/
	@include BoxColor(#FFF, $colorEmpresa)
	/*margin-bottom: 0px;
	margin-top: 10px;*/
	@include marginDef(10px, 0px, 0px, 0px)
	color: white;
}
footer a {
	color: white;
	text-decoration: underline;
}

.card-super {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}

.icon-padding-right {
	padding-right: 10px;
	@include padingDef(0px, 10px, 0px, 00px);
}